* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jvar;
}

:root {
  --primary-background: #1340db;
  --secondary-background: #02268e;
  --default-background: #ffffff;
  --rare-background: #0f0f17;
  --border-background: #ffffff48;
  --primary-color: #ffffff;
  --secondary-color: #0f0f17;
  --btn-color: #0a3cce;
  --btn-font-size: 1vw;
  --subtitle-font-size: 1.2vw;
}

html,
body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  height: 100%;
  width: 100%;
}

#webbyoly {
  overflow-x: hidden;
  position: relative;
  background-color: var(--primary-background);
  background-attachment: fixed;
}

@font-face {
  font-family: Jvar;
  src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}

.bdr_hover_btn {
  transition: 0.2s ease-in-out;
  &:hover {
    border: 1px solid #ffffffaa;
  }
}

.navbar {
  background-color: transparent;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 4.5vw;
  position: absolute;
  top: 0;
  z-index: 9;
  color: var(--primary-color);
}

.nav-deff {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.btn-def {
  padding: 0.5vw 1.5vw;
  border: 1px solid var(--border-background);
  border-radius: 100px;
  font-size: var(--btn-font-size);
}

.menu-icon {
  padding: 1.1vw 2vw;
  border: 1px solid var(--border-background);
  border-radius: 100px;
  font-size: 1vw;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  background-color: transparent;
}

.menu-icon.bgManipulte {
  background-color: var(--primary-background);
}

.slice {
  width: 30%;
  height: 1.5px;
  position: absolute;
  transition: transform 0.4s ease, top 0.4s ease;
  background-color: var(--default-background);
}

.top {
  top: 8px;
}

.bottom {
  top: 18px;
}

.menu-icon.cross .top {
  transform: rotate(45deg);
  top: 13px;
}

.menu-icon.cross .bottom {
  transform: rotate(-45deg);
  top: 13px;
}

#sidebar {
  top: 0;
  right: -100%;
  height: 100vh;
  width: 40vw;
  position: fixed;
  z-index: 3;
  background-color: var(--default-background);
  padding: 0 1vw;
}

.sidebar-visible {
  transform: translateX(-100%);
}

.sidebar-binding {
  padding: 0 0 2vw 3vw;
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar-binding .sdbr-badge {
  background-color: red;
  width: fit-content;
  display: none;
}

.sidebar-binding .sdbr-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.sidebar-binding .sdbr-top a {
  width: fit-content;
  font-size: 4.5vw;
  font-weight: 300;
  color: var(--secondary-color);
}

.sidebar-binding .sdbr-bottom {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.sidebar-binding .sdbr-bottom a {
  font-size: var(--btn-font-size);
  color: var(--secondary-color);
}

#sec1 {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  color: var(--primary-color);
}

#sec1 video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.sec1-binding {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.hero-info-frame {
  width: fit-content;
  position: absolute;
  z-index: 2;
  top: 65%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-weight: 300;
  font-size: 7vw;
  line-height: 1;
}

.hero-mini {
  margin-top: 3vw;
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-subtitle {
  width: 69%;
  font-weight: 300;
  font-size: 1.4vw;
}

.btn--cta {
  display: inline-block;
  padding: 0.7vw 2.5vw;
  background-color: white;
  border-radius: 100px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: var(--btn-color);
  z-index: 1;
}

.btn--cta:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn--cta:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--rare-background);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn--cta:hover {
  color: #ffffff;
  /* border: 1px solid var(--primary-background); */
}

.btn--cta:hover:before {
  top: -35%;
  background-color: var(--rare-background);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn--cta:hover:after {
  top: -45%;
  background-color: var(--rare-background);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#sec2 {
  min-height: 60vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background-color: #143bd3;
}

.sec2-binding {
  width: 100%;
}

.sec2-binding .text-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw;
  margin: 8vw 0 0 7vw;
}

.subtitle--main {
  text-transform: uppercase;
  font-size: var(--subtitle-font-size);
  color: var(--primary-color);
}

.minCan-title {
  font-size: 4.5vw;
  font-weight: 300;
  line-height: 5vw;
  letter-spacing: -2px;
  color: var(--primary-color);
}

#sec3 {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

#sec3 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  z-index: 1;
}

.canvas_3__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #133edb2c;
  z-index: 2;
}

#sec4 {
  min-height: 30vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(#1139cd, #1036c6);
  padding-top: 0.1px;
}

.sec4-binding {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3vw;
  padding: 2vw;
  margin: 8vw 0 0 7vw;
  position: relative;
}

.sec4-binding h1 {
  width: 90%;
}

#sec5 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#sec5 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

#sec6 {
  min-height: 60vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(#0b2fc1, #093dcd);
  padding: 0.1px;
}

.sec6-binding {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3vw;
  padding: 2vw;
  margin: 8vw 0 0 7vw;
  position: relative;
}

.sec6-binding h1 {
  width: 90%;
}

#sec7 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

#index-circle {
  height: 14vw;
  width: 14vw;
  position: absolute;
  border: 1px solid var(--border-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index-circle-inner {
  height: 7vw;
  width: 7vw;
  border: 0.1px solid var(--default-background);
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index-circle-inner span {
  font-size: 0.5vw;
  color: var(--primary-color);
}

#sec7 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#sec8 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.sec8-binding video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sec8-binding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
}

.sec8-binding .s8-absolute-con {
  width: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

#sec9 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #093dcc;
}

.sec9-binding {
  width: 100%;
}

.magma-section {
  color: var(--primary-color);
  padding: 80px 5vw;
}

.magma-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.magma-text {
  flex-basis: 50%;
}

.magma-text h1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  color: var(--primary-color);
}

.magma-image {
  flex-basis: 65%;
  display: flex;
  justify-content: center;
}

.magma-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.magma-content {
  max-width: 600px;
  position: relative;
  left: 44%;
}

.magma-content h4 {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: 400;
}

.magma-content p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e0e0e0;
}

#sec10 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.sec10-binding {
  width: 100%;
  height: 100%;
}

.blog-section {
  background-color: white;
  padding: 80px 5vw;
}

.blog-container {
  max-width: 1200px;
  margin: 0 auto;
}

.blog-title {
  font-size: 5rem;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 60px;
  text-align: left;
}

.blog-entry {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.blog-image {
  flex-basis: 50%;
}

.blog-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.blog-content {
  flex-basis: 50%;
  padding-left: 40px;
}

.blog-category {
  font-size: 0.9rem;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
}

.blog-heading {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #0f0f17;
  font-weight: 400;
}

#sec11 {
  height: 100vh;
  width: 10vw;
  position: relative;
}

.sec11-binding {
  width: 100%;
  height: 100%;
}

.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8vw;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  background-color: #02268e;
  color: var(--primary-color);
  padding: 50px;
}

.featured-content {
  max-width: 600px;
  margin-left: 50px;
}

.featured-content h2 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  color: var(--primary-color);
}

.featured-content p {
  width: 90%;
  margin-top: 20px;
  font-weight: 400;
  color: #ffffffa6;
}

.logo-container {
  position: relative;
  width: 100%;
  height: 15vh;
  overflow: hidden;
}

.logo-wrapper {
  display: flex;
  gap: 4vw;
  position: absolute;
  width: 200%;
  animation: scroll-logos 18s linear infinite;
}

.logo-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-right: 50px;
}

@keyframes scroll-logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

footer {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--rare-background);
}

#footer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#ft-top {
  width: 100%;
  padding: 5vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3vw;
}

.ft-title {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  color: var(--primary-color);
  width: 40%;
}

.btn--ft {
  padding: 0.8vw 2vw;
  border-radius: 100px;
  background-color: var(--secondary-background);
  color: var(--primary-color);
  font-size: 1.1svw;
}

.social-links-section {
  width: 100%;
  padding: 50px 0;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links li {
  width: 100%;
  max-width: 90%;
  border-bottom: 1px solid #333;
  transition: all 0.2s ease;
  &:hover {
    max-width: 87%;
  }
}

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 300;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-links a span {
  font-size: 18px;
}

.social-links li + li {
  margin-top: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.footer-column-flex {
  display: flex;
  align-items: flex-start;
  width: 30%;
  justify-content: space-between;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
}

.footer-column ul li a:hover {
  color: var(--primary-color);
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribe h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.subscribe form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
}

.subscribe input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  margin-right: 10px;
  width: 200px;
}

.subscribe button {
  background-color: transparent;
  border: none;
  color: #a0a0a0;
  font-size: 20px;
  cursor: pointer;
}

.subscribe button:hover {
  color: white;
}

.footer-bottom {
  max-width: 90%;
  padding: 0 30px 30px 0;
  position: relative;
  margin: 0 auto;
}

.footer-bottom p {
  color: #a0a0a0;
  font-size: 14px;
}

.footer-bottom p a {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 500;
}
